{{!-- {{#each this}}
  <li class='card'>
    <div class='front'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt=''
        width='340'
      />
      <div class='card-box'>
        <h3 class='card-title'>{{title}}</h3>
        <p class='text'>{{genre_ids}}| {{release_date}}</p>
      </div>
      <div class='rating'>
        <span class='rating-value'>{{vote_average}}</span>
      </div>
    </div>
    <div class='back'>
      <p class='back-text'>{{overview}}</p>
      <button type='button' id='{{genres.id}}'>Add to libriary</button>
    </div>
  </li>
{{/each}} --}}