{{#each this}}
  <li class='card' id='{{id}}'>
    <div class='card-top'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
      />
    </div>
    <div class='card-box'>
      <h3 class='card-title'>{{title}}</h3>
      <div class='card-bottom'>
        <p class='card-bottom-genres'>{{#each genre_ids}}{{this}}{{#unless
              @last
            }},
            {{/unless}}{{/each}}
          |</p>
        <span class='card-bottom-year'>{{release_date}}</span>
      </div>
    </div>
    <span class='card-rating'>{{vote_average}}</span>
  </li>
{{/each}}