{{#each this}}
    <li class="footer-modal__member-card">
        <div class="footer-modal__img-container">
            <img 
                srcset="{{this.poster}} 1x, {{this.poster2x}} 2x"
                src="{{this.poster}}" 
                alt="{{this.name}}"
                class="footer-modal__image"
            />
        </div>
        <div class="footer-modal__card-text">
            <h3 class="footer-modal__card-title">{{this.name}}</h3>
            <h4 class="footer-modal__member-role">{{this.role}}</h4>
            <p class="footer-modal__card-genres">{{this.genres}}</p>
        </div>
        <span class="footer-modal__card-rating">10.0</span>
    </li>
{{/each}}